/*стилизация логотипа*/

.logo1 {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: 15px;
    color: var(--style-footer-logo);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
  }
  
  .logo2 {
    color: var(--primary-text-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
  }
  