
.page-footer {
    background-color: var(--footer-background-color);
     .container {
      display: flex;
    }
  }
.section-footer {
    padding-bottom: 60px;
    padding-right: 70px;
    margin: 0;
 }
.section-footer__logo {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: 15px;
    color: var(--style-footer-logo);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}
.section-footer__logo2 {
  color: var(--text-hero-footer);
}
.section-footer__address {
    display: block;
    width: 231px;
    height: 81px;
    font-style: normal;
    margin-right: auto;
    margin-left: 15px;
}
.page-footer .logo1 {
  margin-right: auto;
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: var(--style-footer-logo);
}

.address .item + .item {
    padding-top: 9px;
  }
  

  .no-padding-margin-footer {
    margin: 0;
    padding: 0;
  }

  
  .footer-style .logo1 {
    margin-right: auto;
    margin-bottom: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: var(--style-footer-logo);
  }
  

  .navig-footer,
  .navig-footer-adress {
    line-height: 1.71;
    transition-property: color;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--cibic-animation);
  }
  .navig-footer {
    color: var(--navig-footer);
  }
  .navig-footer-adress {
    color: var(--text-hero-footer);
  }
  .navig-footer-adress:hover,
  .navig-footer:hover {
    color: var(--link);
  }
  /*---------стилизация соц сети футер------------ */
  .social-text-footer {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin-top: 72px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-background-color);
  }
  

  .social-footer {
    fill: var(--primary-background-color);
  }
  .type-icon-footer {
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  .social-footer-link:hover,
  .social-footer-link:focus {
    background-color: var(--link);
  }
  
  .social-footer-main {
    display: flex;
    padding-left: 0;
    margin-left: 0;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
  }
  .social-footer-link {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cibic-animation);
  }
  .type-icon-footer:not(last-child) {
    margin-right: 10px;
  }
  